<h1>{{title}}</h1>
<table>
  <tr>
    <th>Song</th>
    <th>Artist</th>
  </tr>
    {{#each songs}}
    <tr>
      <td><a href="song/{{this._id}}">{{this.title}}</a></td>
      <td>{{this.artist}}</td>
    </tr>
    {{/each}}
</table>
<br>
<a href="/songs/new">Add New Song</a>
